{% extends "product/base.html" %}
{% load static%}

{% block content %}

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"style="float:right">لیست سفارشات</h3>
      <h4 class="card-title"style="float:right">name of user</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 10px">ردیف</th>
            <th>عنوان</th>
            <th>رنگ</th>
            <th>سایز</th>
            <th>تعداد</th>
            <th>تاریخ و ساعت</th>
          </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                <td>{{item.id}}</td>
                <td>{{item.variant}}</td>
                
                </tr>
            {% endfor %}
            
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      
    </div>
  </div>

{% endblock %}