{% extends "product/base.html" %}
{% load static %}
{% block content %}

<h2 style="padding-right:25px; padding-bottom: 25px;">لیست محصولات</h2>

{% comment %} 
<!--small containers -->
<div class="container-fluid">
  <div class="row">
    {% for object in object_list%}  
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><img src="{{object.image.url}}"></span>

          <div class="info-box-content">
            <span class="info-box-text">{{object.title}}</span>
            <span class="info-box-number">
              تعداد 
              <small>{{object.count}}</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    
      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>
    {% endfor %}  
    
  </div>
</div> {% endcomment %}
 


<!-- Big containers -->
<div class="container-fluid">
  <div class="row">
    {% for object in object_list%}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{object.count}}</h3>

          <p>{{object.title}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'product:variant_detail' object.id %}" class="small-box-footer">نمایش بیشتر <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>



<!-- Table -->
<div class="card">
    <div class="card-header border-0">
      <h3 class="card-title"></h3>
      <div class="card-tools">
        <a href="#" class="btn btn-tool btn-sm">
          <i class="fas fa-download"></i>
        </a>
        <a href="#" class="btn btn-tool btn-sm">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped table-valign-middle">
        <thead>
        <tr>
          <th>تصویر محصول</th>
          <th>شناسه محصول</th>
          <th>نام محصول</th>
          <th> رنگ محصول</th>
          <th>اندازه محصول</th>
          <th>تعداد</th>
        </tr>
        </thead>
        <tbody>
          {% for object in object_list%}
        <tr>
          <td>
            <img src="{{object.image.url}}" alt="{{object.title}}" class="img-circle img-size-32 mr-2">
          
          </td>
          <td>{{object.id}}</td>
          <td>
            {{object.title}}
          </td>
          <td>
            {{object.color}}
          </td>
          <td>
            {{object.size}}
          </td>
          <td>
           {{object.count}}
          </td>
       
          <td>
            <a  class="btn btn-warning" href="{% url 'product:variant_update' object.id %}">
              ویرایش
            </a>
          </td>
          <td>
            <a  class="btn btn-danger" href="{% url 'product:variant_update' object.id %}">
              حذف
            </a>
          </td>
        </tr>
       {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% endblock %}